body {
    background: #fdb6de;
    color: var(--color-body);
    font-family: sans-serif;
    font-size: 30px;
}

:root {
    --color-body: #b00b69;
    --background-color-body: #fdb6de;
    --background-color-body-dark: #b45b8d;
    --background-color-body-light: #ffceea;
}

.bg-purple {
    background-color: purple;
}

section {
    /* Scroll margin zorgt ervoor dat wanneer je klikt op de links in de navbar dat de sticky nav de sections niet covered.*/
    scroll-margin-top: 120px;
    position: relative;
}

.card-img-ervaring{
    height: 300px;
    object-fit: cover;
    width: 100%;
}



nav {
    background: var(--background-color-body-dark);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

footer {
    background: var(--background-color-body-dark);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: black;
}